*{
  padding:0;
  margin:0;
}

body{
  font-family: sans-serif;
}

.navbar {
	width: 100%;
	position: absolute;
  top:0;
  left:0;
	z-index: 1;
  padding:20px 40px;
}
.navbar ul {
	height: 50px;
	float: right;
}
.navbar ul li {
	display: inline-block;
	padding-top: 40px;
  padding-right:4.5em;
	font-size: 20px;
}
nav ul li a{
  text-decoration:none;
  color:rgb(25, 25, 25);
  font-weight:bold;
}
nav .githubnav li a{
  color:white;
}
.skatepng{
  width:auto;
  height:120px;
}
nav ul li a:hover{
  color:red;
}

.heading{
  margin-top: 24%;
  margin-left: 8%;
}
h1{
  font-size:50px;
  margin-bottom:20px;
  color:rgb(53, 53, 53)
}
.heading h1 span{
  color:orange;
  font-family: cursive;
}
.heading p{
  line-height:22px;
  color:rgb(25, 25, 25);
}

.fa{
  padding: 10px;
  font-size: 20px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  border-radius:50%;
  margin:15px 8px;
}
.fa:hover{
  opacity: 0.7;
}
.fa-github{
  background:rgb(255, 187, 0);
  color:white;
}
.fa-facebook{
  background: #ff7c02;
  color: white;
}
.fa-twitter{
  background: #f75639;
  color: white;
}
.fa-instagram{
  background: rgb(216, 67, 41);
  color:white;
}

.shapes{
  width:45%;
  height:80%;
  position:absolute;
  bottom:0;
  right:100px;
}
.shapes img{
  height:100%;
  position:absolute;
  left:50%;
  bottom:0;
  transform:translate(-50%);
  transition:bottom 1s, left 1s;
}
.shapes:hover .redshape {
  bottom:45px;
}
.shapes:hover .person {
  left:270px;
}

.animation-area {
	background: linear-gradient(to left, #8942a8, #ba382f);
	width: 100%;
	height: 140vh;
}
.box-area {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.box-area li {
	position: absolute;
	display: block;
	list-style: none;
	width: 25px;
	height: 25px;
	background: rgba(255, 255, 255, 0.2);
	animation: animate 20s linear infinite;
	bottom: -150px;
}
.box-area li:nth-child(1) {
	left: 86%;
	width: 80px;
	height: 80px;
	animation-delay: 0s;
}
.box-area li:nth-child(2) {
	left: 12%;
	width: 30px;
	height: 30px;
	animation-delay: 1.5s;
	animation-duration: 10s;
}
.box-area li:nth-child(3) {
	left: 70%;
	width: 100px;
	height: 100px;
	animation-delay: 5.5s;
}
.box-area li:nth-child(4) {
	left: 42%;
	width: 150px;
	height: 150px;
	animation-delay: 0s;
	animation-duration: 15s;
}
.box-area li:nth-child(5) {
	left: 65%;
	width: 40px;
	height: 40px;
	animation-delay: 0s;
}
.box-area li:nth-child(6) {
	left: 15%;
	width: 110px;
	height: 110px;
	animation-delay: 3.5s;
}
@keyframes animate {
	0% {
		transform: translateY(0) rotate(0deg);
		opacity: 1;
	}
	100% {
		transform: translateY(-800px) rotate(360deg);
		opacity: 0;
	}
}

.container{
  position:absolute;
  top:30%;
  left:1%;
  padding:3em;
  display:grid;
  grid-template-columns:repeat(5, 1fr);
  grid-gap:1em;
}
.container div{
  background:rgb(255, 255, 255, 0.1);
  border:solid rgb(255, 255, 255, 0.2) 1px;
  padding:1.5em;
  min-height:5em;
}
.container div a{
  text-decoration: none;
  color:rgb(66, 9, 104);
}
.container div a:hover{
  color:red;
}
.container div a h3{
  margin-bottom:1em;
  text-align:center;
}
.container div p{
  color:rgb(0, 0, 0);
  line-height: 25px;
}
.container div ul{
  margin:.7em 1.7em;
}


